In [5]:
import pandas as pd
import numpy as np
import yfinance as yf
import wget
import os
from datetime import datetime
import requests

In [6]:
# baixa preços cripto
def crip_quotation(symbol, ini_date, comparison_symbol='BRL', all_data=True, limit=1, aggregate=1, exchange=''):
    from datetime import datetime
    url = 'https://min-api.cryptocompare.com/data/histoday?fsym={}&tsym={}&limit={}&aggregate={}'\
            .format(symbol.upper(), comparison_symbol.upper(), limit, aggregate)
    if exchange:
        url += '&e={}'.format(exchange)
    if all_data:
        url += '&allData=true'
    page = requests.get(url)
    data = page.json()['Data']
    df = pd.DataFrame(data)
    df['timestamp'] = [datetime.fromtimestamp(d) for d in df.time]
    
    df['timestamp'] = df['timestamp'].dt.normalize()
    df = df.set_index('timestamp').drop(['time','high','low','open','volumefrom','volumeto','conversionType','conversionSymbol'],axis=1)
    df = df[ini_date:]
    
    return df

In [9]:
# recebe caminho de um arquivo como parâmetro, devolve dataframe com papeis e cotacoes
def baixa_cotacoes(arquivo,cripto=False):
    df = pd.read_csv(arquivo, delimiter=";")
    df["ini"] = pd.to_datetime(df["ini"], format="%d/%m/%Y")
    df.set_index("acao", inplace=True)
    cotacoes = pd.DataFrame()
    for acao in df.index:
        ini = df.loc[acao,"ini"]
        print(acao, ini)
        if cripto == True:
            cotacoes[acao] = crip_quotation(acao, ini_date=ini)["close"]
        elif cripto == False:
            cotacoes[acao] = yf.download(acao, start=ini)["Adj Close"] # +".SA"
    return(cotacoes)

In [13]:
# baixa renda fixa
def precos_rf():
    df = pd.DataFrame()
    rf = pd.read_excel('lista rf.xlsx')
    for i in range(0,len(rf)):
        link = rf['download'][i] # link para download do arquivo de rf
        arquivo = rf['arquivo'][i]
        aba = rf['ativo'][i] # o nome da aba é o nome do ativo
        ini_date = rf['data ini'][i]
        # baixa dados
        wget.download(link)
        td = pd.read_excel(arquivo, aba,skiprows=[0]).set_index('Dia') # skiprows é uma lista de linhas para pular. No caso pula a linha 0
        os.remove(arquivo) # deleta depois de baixar
        td = td[ini_date:] # filtra só as linhas a partir da data desejada
        # transforma pro formato datetime
        td = td.set_index(pd.DataFrame([datetime.strptime(date, '%d/%m/%Y').date() for date in td.index[:]])[0]) 
        td = td['PU Compra Manhã']  # filtra a coluna de preço correta
        df[aba] = td # cria uma coluna com o nome do ativo e o preço histórico
    return(df)

In [10]:
df = baixa_cotacoes("lista acoes.csv")
df.to_excel("./resultados/cotacoes acao.xlsx")
df

VALE3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
KLBN11.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
MOVI3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
PNVL3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
RRRP3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
TTEN3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
LAVV3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
ALSO3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
YDUQ3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
TUPY3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
MGLU3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed
BBAS3.SA 2022-05-30 00:00:00
[*********************100%***********************]  1 of 1 completed

,VALE3.SA,KLBN11.SA,MOVI3.SA,PNVL3.SA,RRRP3.SA,TTEN3.SA,LAVV3.SA,ALSO3.SA,YDUQ3.SA,TUPY3.SA,MGLU3.SA,BBAS3.SA
Date,,,,,,,,,,,,
2022-05-30,86.650002,21.724131,17.461679,11.64,49.310001,9.41,5.28,19.219999,16.540001,22.420000,3.84,35.802589
2022-05-31,86.209999,21.861563,17.669323,11.53,48.750000,9.60,5.14,19.309999,16.180000,23.100000,3.72,36.348511
2022-06-01,88.239998,22.273861,17.857187,11.36,48.770000,9.75,5.13,18.660000,16.450001,23.469999,3.71,36.417992
2022-06-02,89.900002,22.332760,17.698984,11.48,48.560001,9.40,5.18,19.110001,16.650000,24.360001,3.80,36.447773
2022-06-03,88.459999,21.792849,16.680553,11.33,48.599998,9.36,5.18,18.920000,15.720000,24.379999,3.59,35.941551
2022-06-06,88.550003,21.832113,16.324594,10.99,46.860001,8.96,5.09,18.600000,15.170000,23.830000,3.40,35.494888
2022-06-07,90.620003,21.822296,16.364145,10.76,46.860001,8.92,5.00,18.459999,15.180000,23.219999,3.29,35.246742
2022-06-08,87.500000,21.537617,15.503916,10.67,46.790001,8.81,4.90,18.670000,14.920000,23.430000,3.22,34.929111
2022-06-09,84.540001,21.390368,15.760996,10.55,46.020000,8.83,4.98,18.290001,14.990000,23.590000,3.01,34.879486
2022-06-10,84.559998,20.968254,15.335825,10.28,44.570000,8.63,4.91,17.910000,14.250000,23.080000,2.90,34.293858
2022-06-13,81.879997,20.948620,14.356943,9.90,42.660000,8.48,4.74,17.270000,13.350000,22.320000,2.67,33.509716
2022-06-14,81.720001,20.536322,13.852670,9.78,40.840000,8.37,4.69,17.059999,13.470000,21.180000,2.54,33.520000
2022-06-15,81.669998,20.271275,14.119637,9.77,40.610001,8.27,4.80,17.540001,13.740000,21.750000,2.55,34.049999
2022-06-17,77.410004,19.986593,13.842782,9.62,36.750000,8.56,4.66,17.160000,13.330000,21.450001,2.38,34.130001
2022-06-20,75.500000,19.829529,14.020761,9.49,35.700001,8.41,4.62,16.940001,13.640000,21.030001,2.58,34.389999
2022-06-21,76.000000,19.731361,13.911995,9.36,36.400002,8.34,4.57,16.780001,13.170000,21.200001,2.51,32.980000
2022-06-22,75.349998,19.652828,13.783455,9.74,33.970001,8.35,4.55,16.910000,13.590000,21.290001,2.44,32.860001
2022-06-23,72.599998,19.161999,13.813119,9.89,32.799999,8.40,4.60,16.799999,13.750000,21.500000,2.55,32.650002
2022-06-24,74.620003,19.436863,13.506599,9.79,34.189999,8.10,4.60,16.719999,14.240000,21.520000,2.47,32.459999
2022-06-27,78.050003,19.780443,13.556039,9.67,36.380001,8.14,4.64,16.760000,13.960000,22.180000,2.43,33.130001
2022-06-28,79.449997,19.878611,13.526376,9.64,36.160000,8.00,4.66,16.430000,13.580000,22.790001,2.38,33.250000
2022-06-29,78.790001,19.790260,13.328621,9.46,35.900002,8.00,4.65,16.139999,13.400000,22.469999,2.41,33.080002
2022-06-30,76.559998,19.829529,12.903450,9.59,35.150002,8.00,4.62,16.010000,13.070000,22.230000,2.34,33.380001
2022-07-01,75.099998,19.819712,13.200000,9.32,35.590000,8.28,4.66,16.379999,12.980000,22.000000,2.20,33.150002
2022-07-04,74.669998,19.819712,12.900000,9.09,36.279999,8.29,4.54,16.450001,12.420000,21.500000,2.13,33.040001
2022-07-05,74.300003,19.436863,12.690000,9.43,33.580002,7.98,4.53,16.490000,12.610000,20.860001,2.38,32.860001
2022-07-06,75.000000,19.643013,12.850000,9.90,31.700001,8.16,4.54,16.420000,13.800000,20.850000,2.50,32.650002
2022-07-07,77.180000,19.535028,13.140000,10.17,31.900000,8.16,4.56,16.629999,15.250000,21.150000,2.56,33.130001
2022-07-08,75.400002,19.348513,12.880000,10.05,32.900002,8.11,4.51,16.809999,14.910000,21.049999,2.62,33.450001
2022-07-11,72.830002,19.152182,12.010000,10.06,32.369999,7.98,4.36,16.209999,14.280000,20.780001,2.63,32.900002
2022-07-12,73.050003,19.260166,11.890000,10.10,30.280001,7.90,4.35,16.450001,14.380000,20.850000,2.93,33.009998
2022-07-13,72.800003,18.690804,11.890000,10.05,28.600000,7.85,4.35,16.420000,13.890000,20.830000,2.83,32.650002
2022-07-14,67.949997,18.445389,12.200000,10.10,29.110001,7.97,4.30,16.040001,14.150000,20.600000,2.91,32.610001
2022-07-15,68.370003,18.160706,12.230000,10.20,28.740000,8.22,4.43,16.049999,14.720000,21.379999,2.78,33.279999
2022-07-18,68.730003,18.082172,12.120000,10.46,29.389999,8.31,4.39,16.070000,14.710000,21.400000,2.77,33.750000
2022-07-19,68.879997,18.455202,12.270000,10.11,30.440001,8.41,4.46,16.139999,14.120000,21.780001,2.79,34.660000
2022-07-20,67.389999,18.720251,12.500000,10.17,31.639999,8.67,4.57,16.379999,14.290000,22.000000,3.07,34.669998
2022-07-21,68.570000,18.121439,12.930000,10.35,30.450001,8.69,4.72,16.580000,14.090000,22.299999,3.01,34.910000
2022-07-22,69.209999,18.553370,12.770000,10.30,29.430000,8.83,4.60,16.680000,13.900000,22.090000,2.86,34.669998
2022-07-25,70.489998,18.082172,12.780000,10.33,30.260000,8.81,4.46,16.639999,13.540000,22.150000,2.79,35.200001
2022-07-26,70.360001,18.111624,12.400000,10.26,29.940001,8.82,4.46,16.370001,12.910000,21.790001,2.61,35.320000
2022-07-27,70.519997,19.103098,12.770000,10.47,30.670000,9.14,4.62,16.870001,13.840000,22.270000,2.70,35.549999
2022-07-28,70.690002,18.877317,12.900000,11.06,31.830000,9.12,4.88,17.070000,13.530000,22.389999,2.72,36.209999
2022-07-29,69.750000,19.564480,12.700000,10.98,34.020000,9.18,4.86,16.870001,13.250000,22.770000,2.58,35.970001
2022-08-01,68.080002,19.407413,13.010000,11.50,32.400002,9.16,4.89,17.139999,13.440000,22.690001,2.72,35.680000
2022-08-02,69.150002,NaN,13.010000,11.55,32.400002,9.20,4.92,17.040001,13.280000,23.120001,2.68,36.330002

In [11]:
df = baixa_cotacoes("lista acoes US.csv")
df.to_excel("./resultados/cotacoes acao US.xlsx")
df

SPY 2022-05-02 00:00:00
[*********************100%***********************]  1 of 1 completed
AAXJ 2022-05-02 00:00:00
[*********************100%***********************]  1 of 1 completed
XLU 2022-05-02 00:00:00
[*********************100%***********************]  1 of 1 completed

                   SPY       AAXJ        XLU
Date
2022-05-02  412.697266  70.681290  69.970062
2022-05-03  414.589111  71.258598  70.237923
2022-05-04  427.214569  71.945404  71.805374
2022-05-05  412.030151  69.247948  71.071251
2022-05-06  409.570770  68.292397  71.636726
...                ...        ...        ...
2022-07-27  401.040009  68.519997  70.779999
2022-07-28  406.070007  68.550003  73.320000
2022-07-29  411.989990  68.000000  73.949997
2022-08-01  410.769989  67.410004  74.029999
2022-08-02  411.755005  67.529999  74.470001

[64 rows x 3 columns]

In [14]:
df = precos_rf()
df.to_excel("./resultados/cotacoes rf.xlsx")
df

100% [..............................................................................] 94208 / 94208

            LTN 010125  LFT 010327  NTN-B Princ 150535
0
2022-05-02      735.84    11503.77             1930.89
2022-05-03      734.44    11509.38             1924.80
2022-05-04      733.90    11515.28             1906.99
2022-05-05      735.98    11521.80             1933.96
2022-05-06      731.99    11528.71             1914.91
...                ...         ...                 ...
2022-07-27      739.41    11865.10             1831.88
2022-07-28      742.31    11871.00             1842.95
2022-07-29      745.85    11877.00             1846.64
2022-08-01      748.61    11883.23             1848.90
2022-08-02      751.37    11889.68             1853.39

[66 rows x 3 columns]

In [15]:
df = baixa_cotacoes("lista commodities.csv")
df.to_excel("./resultados/cotacoes commodities.xlsx")
df

SLV 2022-05-01 00:00:00
[*********************100%***********************]  1 of 1 completed
GSG 2022-05-01 00:00:00
[*********************100%***********************]  1 of 1 completed
COPX 2022-05-01 00:00:00
[*********************100%***********************]  1 of 1 completed
LIT 2022-05-01 00:00:00
[*********************100%***********************]  1 of 1 completed

                  SLV        GSG       COPX        LIT
Date
2022-05-02  20.870001  24.059999  38.640076  65.605957
2022-05-03  20.830000  23.559999  39.060608  66.625114
2022-05-04  21.280001  24.430000  39.901672  68.843285
2022-05-05  20.780001  24.330000  37.838131  66.984818
2022-05-06  20.660000  24.370001  37.143764  66.884903
...               ...        ...        ...        ...
2022-07-27  17.600000  22.860001  28.900000  74.089996
2022-07-28  18.430000  22.790001  29.209999  74.330002
2022-07-29  18.700001  22.930000  30.490000  74.389999
2022-08-01  18.790001  22.250000  29.820000  75.470001
2022-08-02  18.635000  22.249901  29.190001  75.910004

[64 rows x 4 columns]

In [16]:
df = baixa_cotacoes("lista hedge.csv")
df.to_excel("./resultados/cotacoes hedge.xlsx")
df

GLD 2022-05-02 00:00:00
[*********************100%***********************]  1 of 1 completed

                   GLD
Date
2022-05-02  173.630005
2022-05-03  174.089996
2022-05-04  175.800003
2022-05-05  175.130005
2022-05-06  175.419998
...                ...
2022-07-27  161.669998
2022-07-28  163.639999
2022-07-29  164.100006
2022-08-01  165.029999
2022-08-02  165.500000

[64 rows x 1 columns]

In [17]:
cotacoes = baixa_cotacoes("lista cripto.csv", cripto=True)
cotacoes.to_excel("./resultados/cotacoes cripto.xlsx")
cotacoes

BTC 2022-05-02 00:00:00
ETH 2022-05-02 00:00:00
DOT 2022-05-02 00:00:00
ALGO 2022-05-02 00:00:00
MATIC 2022-05-02 00:00:00

                  BTC       ETH    DOT   ALGO  MATIC
timestamp
2022-05-02  188398.91  13890.65  73.45  3.344  5.367
2022-05-03  195713.13  14498.43  80.54  3.526  5.778
2022-05-04  185037.49  13909.27  73.77  3.214  5.383
2022-05-05  184045.43  13761.08  73.20  3.554  5.327
2022-05-06  181693.05  13497.98  70.43  3.837  5.221
...               ...       ...    ...    ...    ...
2022-07-28  123822.14   8968.44  42.66  1.746  4.882
2022-07-29  123244.64   8844.04  42.77  1.758  4.846
2022-07-30  121882.78   8782.87  45.05  1.755  4.844
2022-07-31  121028.62   8480.48  42.56  1.782  4.638
2022-08-01  121266.17   8661.02  42.34  1.736  4.695

[92 rows x 5 columns]