In [1]:
import pandas as pd
import numpy as np
import wget
import os
from datetime import datetime
import yfinance as yf
import requests

In [2]:
def crip_quotation(symbol, ini_date, comparison_symbol='BRL', all_data=True, limit=1, aggregate=1, exchange=''):
    from datetime import datetime
    url = 'https://min-api.cryptocompare.com/data/histoday?fsym={}&tsym={}&limit={}&aggregate={}'\
            .format(symbol.upper(), comparison_symbol.upper(), limit, aggregate)
    if exchange:
        url += '&e={}'.format(exchange)
    if all_data:
        url += '&allData=true'
    page = requests.get(url)
    data = page.json()['Data']
    df = pd.DataFrame(data)
    df['timestamp'] = [datetime.fromtimestamp(d) for d in df.time]
    
    df['timestamp'] = df['timestamp'].dt.normalize()
    df = df.set_index('timestamp').drop(['time','high','low','open','volumefrom','volumeto','conversionType','conversionSymbol'],axis=1)
    df = df[ini_date:]
    
    return df

In [3]:
def precos_rf():
    df = pd.DataFrame()
    rf = pd.read_excel('./pesos/rf.xlsx')
    for i in range(0,len(rf)):
        link = rf['download'][i] # link para download do arquivo de rf
        arquivo = rf['arquivo'][i]
        aba = rf['ativo'][i] # o nome da aba é o nome do ativo
        ini_date = rf['data ini'][i]
        # baixa dados
        wget.download(link)
        td = pd.read_excel(arquivo, aba,skiprows=[0]).set_index('Dia') # skiprows é uma lista de linhas para pular. No caso pula a linha 0
        os.remove(arquivo) # deleta depois de baixar
        td = td[ini_date:] # filtra só as linhas a partir da data desejada
        # transforma pro formato datetime
        td = td.set_index(pd.DataFrame([datetime.strptime(date, '%d/%m/%Y').date() for date in td.index[:]])[0]) 
        td = td['PU Compra Manhã']  # filtra a coluna de preço correta
        df[aba] = td # cria uma coluna com o nome do ativo e o preço histórico
    return(df)
precos_rf().head()

100% [..............................................................................] 91136 / 91136

            LTN 010125  LFT 010327  NTN-B Princ 150535
0
2022-05-02      735.84    11503.77             1930.89
2022-05-03      734.44    11509.38             1924.80
2022-05-04      733.90    11515.28             1906.99
2022-05-05      735.98    11521.80             1933.96
2022-05-06      731.99    11528.71             1914.91

In [16]:
def precos_rv(asset_sheet):
    df = pd.DataFrame()
    for i in asset_sheet.index:
        if i == 'caixa':
            df[i] = 1

        elif "BTC" in asset_sheet.index: # se tiver BTC no index ele sabe que é criptomoeda, aí puxa cotacao de outro lugar
            df[i] = crip_quotation(i, asset_sheet['data ini'][0])['close']
        else:
            df[i] = yf.download(i, asset_sheet['data ini'][0], asset_sheet['data fim'][0])['Adj Close']
            # data fim não é baixada. Só baixa até 1 dia antes
    return(df)
#testar:
#asset_sheet = pd.read_excel(f"./pesos/acao.xlsx", sheet_name="Planilha1").set_index("ativo")
#precos_rv(asset_sheet)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,VALE3.SA,KLBN11.SA,MOVI3.SA,PNVL3.SA,RRRP3.SA,TTEN3.SA,LAVV3.SA,ALSO3.SA,BPAC11.SA,YDUQ3.SA,TUPY3.SA,MGLU3.SA,XPBR31.SA,caixa
Date,,,,,,,,,,,,,,
2022-05-26,84.250000,22.170000,17.155163,11.86,48.180000,9.08,5.28,18.850000,24.950001,18.059999,22.750000,4.07,107.930000,1
2022-05-27,85.720001,22.200001,17.896740,12.23,48.959999,9.15,5.33,19.209999,25.200001,17.250000,22.530001,4.00,110.019997,1
2022-05-30,86.650002,22.129999,17.461679,11.64,49.310001,9.41,5.28,19.219999,24.900000,16.540001,22.420000,3.84,109.900002,1

In [5]:
# Cria lista com os nomes dos ativos
abas = pd.ExcelFile(f"./pesos/pesos.xlsx").sheet_names # pega a lista de abas na planilha
lista_abas = [aba for aba in abas if aba.startswith('Planilha')]
lista_ativos = list(pd.read_excel('./pesos/pesos.xlsx', sheet_name=lista_abas[-1])["ativo"]) # pega a lista sempre da aba mais recente

In [6]:
# baixa dados, calcula a cota diária e põe no dataframe "dados"

#processa primeiro renda fixa
if "rf" in lista_ativos:
    df = precos_rf() # pega os preços dos titulos de rf
    rf = pd.read_excel('./pesos/rf.xlsx') 
    pesos = rf.set_index('ativo')['peso']
    df = (df/df.iloc[0,:]*pesos*100).sum(axis=1) # calcula cotização diária da carteira de rf
    dados = pd.DataFrame(df).rename({0:"rf"},axis=1)
    lista_ativos.remove("rf") # tira rf da lista

# processa renda variavel
for ativo in lista_ativos:
    df = pd.DataFrame()
    y = pd.DataFrame()
    precos = pd.DataFrame()
    abas = pd.ExcelFile(f"./pesos/{ativo}.xlsx").sheet_names # pega a lista de abas na planilha
    lista_abas = [aba for aba in abas if aba.startswith('Planilha')]
    lista_abas # cria uma lista com os nomes das abas que começam com "Planilha"
    for aba in lista_abas:
            asset_sheet = pd.read_excel(f"./pesos/{ativo}.xlsx", sheet_name=aba).set_index("ativo")
            asset_weights = asset_sheet['peso']
            df = precos_rv(asset_sheet) # pega os preços para renda variavel
            df = df/df.iloc[0,:]*asset_weights*100
            y = y.append(df)
    y = y[~y.index.duplicated(keep='first')]
    y = y.sum(axis=1)
    y = pd.DataFrame(y).rename({0:ativo},axis=1)
    dados = pd.concat([dados,y],axis=1)
dados = dados.dropna()
dados

[*********************100%***********************]  1 of 1 completed................] 91136 / 91136
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,rf,acao,acao_us,commodities,valor,cripto
2022-05-02,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2022-05-03,99.847703,99.105231,100.586639,99.432005,100.264926,104.685422
2022-05-04,99.532880,101.554814,102.647053,102.391723,101.249783,98.447090
2022-05-05,100.111584,99.142491,99.438943,100.361488,100.863906,99.070001
2022-05-06,99.621996,97.383528,98.821439,99.989984,101.030924,98.696859
2022-05-09,99.247324,94.382649,96.220022,94.967351,99.568047,85.871638
2022-05-10,99.727929,95.011543,96.338125,94.178945,98.727175,76.676019
2022-05-11,99.309900,95.547355,95.577971,96.116468,99.533492,74.862514
2022-05-12,99.324854,96.682050,95.176514,94.832300,98.007253,75.889724
2022-05-13,99.679857,99.363935,97.384580,97.155527,97.212457,78.493948
2022-05-16,99.786396,100.896650,97.075609,98.924626,98.139716,77.695638
2022-05-17,100.592253,101.886128,99.172503,99.815494,97.523468,72.363010
2022-05-18,100.442705,98.967143,96.444788,97.902551,97.575300,75.441197
2022-05-19,100.598248,100.016936,96.773372,100.389960,99.009387,72.140596
2022-05-20,100.615851,100.656021,97.021119,100.314006,99.078497,72.961347
2022-05-23,100.920969,102.217140,98.193833,101.215606,99.539248,72.072494
2022-05-24,100.341011,102.205285,97.467640,100.988520,100.287969,71.357764
2022-05-25,100.030670,103.513543,97.969560,100.996955,99.683233,68.642137
2022-05-26,100.347171,104.997977,99.415008,102.229188,99.498929,66.270725
2022-05-27,100.770992,106.318586,101.199889,103.380891,99.550770,67.801374
2022-05-31,100.401921,105.940087,101.311015,102.076085,98.565913,70.479307
2022-06-01,100.605795,106.759832,100.627941,102.365361,99.193682,71.558309
2022-06-02,100.459749,107.383648,102.299828,105.217131,100.414676,69.386824
2022-06-03,100.464772,105.626888,100.776220,104.770222,99.395264,70.103166
2022-06-06,100.630489,103.885803,101.396009,105.601826,98.957555,73.339403
2022-06-07,100.341552,103.911495,102.101966,106.216239,99.602602,72.523447
2022-06-08,100.193734,102.073113,101.581266,105.888592,99.510450,72.490483
2022-06-09,100.869789,101.165421,99.154775,104.135180,99.193682,70.372370
2022-06-10,101.014197,99.379239,97.535921,103.639775,100.524096,67.905256
2022-06-13,100.509555,96.156850,93.864590,101.109803,97.869025,55.612328
2022-06-14,100.790503,94.506762,93.867680,100.156089,97.085759,56.813170
2022-06-15,100.519457,95.023989,94.928437,101.148996,98.352819,51.156469
2022-06-17,100.923082,92.105008,92.315351,99.220247,98.640788,48.469187
2022-06-21,101.392827,90.744690,94.259906,99.605723,98.272188,51.894213
2022-06-22,101.268005,90.070255,93.678168,97.536649,98.663821,55.852840
2022-06-23,101.215188,89.035997,94.757082,95.538892,98.059085,57.048310
2022-06-24,101.300845,89.660295,97.204473,97.277060,97.961177,57.547560
2022-06-27,101.104790,91.621562,97.174851,97.777842,97.851747,53.691220
2022-06-28,100.529085,91.853826,96.104596,97.609751,97.690486,52.095379
2022-06-29,100.411917,91.091267,95.947363,95.870506,97.615620,52.559540
2022-06-30,100.544355,89.902654,95.771754,93.710534,97.022405,51.458144
2022-07-01,100.868180,89.960229,96.361500,93.349936,96.941774,51.621702

In [7]:
# cria coluna com a cotização da carteira total no dataframe "dados"
abas = pd.ExcelFile(f"./pesos/pesos.xlsx").sheet_names # pega a lista de abas na planilha
lista_abas = [aba for aba in abas if aba.startswith('Planilha')]
lista_ativos = list(pd.read_excel('./pesos/pesos.xlsx', sheet_name=lista_abas[-1])["ativo"]) # pega a lista sempre da aba mais recente
dados["carteira"] = 0 #cria a coluna carteira e da o valor de 0 pra tudo
for aba in lista_abas:
    aux = pd.DataFrame(index=dados.index) # dataframe auxiliar pra dar join com o principal depois
    aux["carteira"] = 0
    sheet_peso = pd.read_excel('./pesos/pesos.xlsx', sheet_name=aba)
    pesos = sheet_peso['peso'] # pega os pesos pra multiplicar pela cota de cada ativo
    ini = sheet_peso['data ini'][0]
    fim = sheet_peso['data fim'][0]
    for peso, ativo in zip(pesos, lista_ativos):
        aux["carteira"] += dados[ativo]*peso # multiplica todas as colunas pelo peso correspondente e soma
    aux = aux[ini:fim] # filtra apenas os dados com o peso correto para o período
    dados.update(aux) # atualiza os dados com os dados presentes em aux
dados

,rf,acao,acao_us,commodities,valor,cripto,carteira
2022-05-02,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2022-05-03,99.847703,99.105231,100.586639,99.432005,100.264926,104.685422,100.256862
2022-05-04,99.532880,101.554814,102.647053,102.391723,101.249783,98.447090,100.497295
2022-05-05,100.111584,99.142491,99.438943,100.361488,100.863906,99.070001,99.755411
2022-05-06,99.621996,97.383528,98.821439,99.989984,101.030924,98.696859,99.014603
2022-05-09,99.247324,94.382649,96.220022,94.967351,99.568047,85.871638,96.238828
2022-05-10,99.727929,95.011543,96.338125,94.178945,98.727175,76.676019,95.610339
2022-05-11,99.309900,95.547355,95.577971,96.116468,99.533492,74.862514,95.403605
2022-05-12,99.324854,96.682050,95.176514,94.832300,98.007253,75.889724,95.577660
2022-05-13,99.679857,99.363935,97.384580,97.155527,97.212457,78.493948,96.953687
2022-05-16,99.786396,100.896650,97.075609,98.924626,98.139716,77.695638,97.362857
2022-05-17,100.592253,101.886128,99.172503,99.815494,97.523468,72.363010,97.690705
2022-05-18,100.442705,98.967143,96.444788,97.902551,97.575300,75.441197,96.840435
2022-05-19,100.598248,100.016936,96.773372,100.389960,99.009387,72.140596,97.053721
2022-05-20,100.615851,100.656021,97.021119,100.314006,99.078497,72.961347,97.318137
2022-05-23,100.920969,102.217140,98.193833,101.215606,99.539248,72.072494,97.932514
2022-05-24,100.341011,102.205285,97.467640,100.988520,100.287969,71.357764,97.532700
2022-05-25,100.030670,103.513543,97.969560,100.996955,99.683233,68.642137,97.448767
2022-05-26,100.347171,104.997977,99.415008,102.229188,99.498929,66.270725,97.921126
2022-05-27,100.770992,106.318586,101.199889,103.380891,99.550770,67.801374,98.845335
2022-05-31,100.401921,105.940087,101.311015,102.076085,98.565913,70.479307,98.761291
2022-06-01,100.605795,106.759832,100.627941,102.365361,99.193682,71.558309,98.514772
2022-06-02,100.459749,107.383648,102.299828,105.217131,100.414676,69.386824,98.845681
2022-06-03,100.464772,105.626888,100.776220,104.770222,99.395264,70.103166,98.223264
2022-06-06,100.630489,103.885803,101.396009,105.601826,98.957555,73.339403,98.238253
2022-06-07,100.341552,103.911495,102.101966,106.216239,99.602602,72.523447,98.207783
2022-06-08,100.193734,102.073113,101.581266,105.888592,99.510450,72.490483,97.623837
2022-06-09,100.869789,101.165421,99.154775,104.135180,99.193682,70.372370,97.136764
2022-06-10,101.014197,99.379239,97.535921,103.639775,100.524096,67.905256,96.440373
2022-06-13,100.509555,96.156850,93.864590,101.109803,97.869025,55.612328,93.757806
2022-06-14,100.790503,94.506762,93.867680,100.156089,97.085759,56.813170,93.498591
2022-06-15,100.519457,95.023989,94.928437,101.148996,98.352819,51.156469,93.308152
2022-06-17,100.923082,92.105008,92.315351,99.220247,98.640788,48.469187,92.188840
2022-06-21,101.392827,90.744690,94.259906,99.605723,98.272188,51.894213,92.588452
2022-06-22,101.268005,90.070255,93.678168,97.536649,98.663821,55.852840,92.534911
2022-06-23,101.215188,89.035997,94.757082,95.538892,98.059085,57.048310,92.363028
2022-06-24,101.300845,89.660295,97.204473,97.277060,97.961177,57.547560,92.971246
2022-06-27,101.104790,91.621562,97.174851,97.777842,97.851747,53.691220,93.053464
2022-06-28,100.529085,91.853826,96.104596,97.609751,97.690486,52.095379,92.576276
2022-06-29,100.411917,91.091267,95.947363,95.870506,97.615620,52.559540,92.271970
2022-06-30,100.544355,89.902654,95.771754,93.710534,97.022405,51.458144,91.801719
2022-07-01,100.868180,89.960229,96.361500,93.349936,96.941774,51.621702,92.021954

In [8]:
# baixa dados pros benchmarks
df = pd.DataFrame({})
ini_date = pd.to_datetime('2022-05-02')
end_date = pd.to_datetime('2023-06-01')

lista = ['^BVSP','^GSPC']
for item in lista:
    df[item] = yf.download(item,ini_date, end_date)['Adj Close']
df = df/df.iloc[0,:]*100
df.dropna(inplace=True)
df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                 ^BVSP       ^GSPC
Date
2022-05-02  100.000000  100.000000
2022-05-03   99.895911  100.483713
2022-05-04  101.598852  103.484400
2022-05-05   98.748113   99.795211
2022-05-06   98.589634   99.228950

In [9]:
# escreve arquivo com os resultados

lista_ativos = list(pd.read_excel('./pesos/pesos.xlsx')["ativo"]) # pega lista_ativos novamente
with pd.ExcelWriter('./resultados/Resultado.xlsx') as writer:
    dados.to_excel(writer, sheet_name="carteira cotizada") # escreve a carteira cotizada no excel
    df.to_excel(writer, sheet_name="benchmarks") # escreve os precos pros benchmarks no excel
    dados = precos_rf() # pega os preços dos titulos de rf
    dados.to_excel(writer, sheet_name="rf") # escreve precos de renda fixa no excel
    lista_ativos.remove("rf")
    # escreve precos pra renda variavel no excel
    for ativo in lista_ativos:
        # pega a lista de abas na planilha que começam com "Planilha"
        abas = pd.ExcelFile(f"./pesos/{ativo}.xlsx").sheet_names 
        lista_abas = [aba for aba in abas if aba.startswith('Planilha')]
        dados = pd.read_excel(f"./pesos/{ativo}.xlsx", 
                              sheet_name=lista_abas[-1]).set_index("ativo") # sheet name da última aba sempre
        dados = precos_rv(dados)  
        dados.to_excel(writer, sheet_name=ativo)
print("Pronto")

[*********************100%***********************]  1 of 1 completed................] 91136 / 91136
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
Pronto